[relabel]
allow-unauthenticated = [
    "A-*", "C-*", "E-*", "I-*", "L-*", "P-*", "S-*", "T-*",
    "good first issue", "beta-nominated"
]

# Allows shortcuts like `@rustbot ready`
#
# See https://forge.rust-lang.org/triagebot/shortcuts.html
[shortcut]

[merge-conflicts]

[note]

[close]

[transfer]

[issue-links]

[mentions."clippy_lints/src/doc"]
cc = ["@notriddle"]

# Have rustbot inform users about the *No Merge Policy*
[no-merges]
exclude_titles = ["Rustup"] # exclude syncs from rust-lang/rust
labels = ["has-merge-commits", "S-waiting-on-author"]

[review-requested]
# Those labels are removed when PR author requests a review from an assignee
remove_labels = ["S-waiting-on-author"]
# Those labels are added when PR author requests a review from an assignee
add_labels = ["S-waiting-on-review"]

[review-submitted]
# These labels are removed when a review is submitted.
review_labels = ["S-waiting-on-review"]
# This label is added when a review is submitted.
reviewed_label = "S-waiting-on-author"

[autolabel."S-waiting-on-review"]
new_pr = true

[autolabel."needs-fcp"]
trigger_files = ["clippy_lints/src/declared_lints.rs"]

[concern]
# These labels are set when there are unresolved concerns, removed otherwise
labels = ["S-waiting-on-concerns"]

# Show differences when a PR is rebased
[range-diff]

# Amend a review to include a link to what was changed since the review
[review-changes-since]

# Adds a "View all comments" link on the issue/PR body that shows all the comments of it
# Documentation at: https://forge.rust-lang.org/triagebot/view-all-comments-link.html
[view-all-comments-link]
threshold = 20

[notify-zulip."lint-nominated"]
zulip_stream = 257328 # #clippy
topic = "FCP rust-clippy#{number}: {title}"
# Zulip polls may not be preceded by any other text and pings & short links inside
# the title of a poll don't get recognized. Therefore we need to send two messages.
message_on_add = [
    """\
PR rust-clippy#{number} "{title}" has been nominated for lint inclusion.
""",
    """\
/poll Approve lint inclusion of rust-clippy#{number}?
approve
decline
don't know
""",
]
message_on_remove = "PR rust-clippy#{number} lint nomination has been removed."
message_on_close = "PR rust-clippy#{number} has been closed. Thanks for participating!"
message_on_reopen = "PR rust-clippy#{number} has been reopened."

[assign]
contributing_url = "https://github.com/rust-lang/rust-clippy/blob/master/CONTRIBUTING.md"
users_on_vacation = [
    "matthiaskrgr",
    "Manishearth",
    "Alexendoo",
    "y21",
    "blyxyas",
]

[assign.owners]
"/.github" = ["@flip1995"]
"/triagebot.toml" = ["@flip1995"]
"/book" = ["@flip1995"]
"*" = [
    "@Manishearth",
    "@llogiq",
    "@Alexendoo",
    "@dswij",
    "@Jarcho",
    "@y21",
    "@samueltardieu",
]
